h6 {
  color: gray;
}
.button-outside {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  overflow: hidden;

  .button-detail {
    width: 180px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: burlywood;
  }

  .button-detail:hover {
    background-color: dimgray;
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
}
.container {
  font-family: 'Georgia', serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fffaf0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  h1 {
    font-size: 28px;
    color: #4b3832;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 22px;
    color: #6b4f4b;
    margin-bottom: 15px;
    border-bottom: 2px solid #6b4f4b;
    padding-bottom: 5px;
  }
  
  p {
    font-size: 18px;
    color: #4b3832;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}




