// src/components/BalanceDisplay.scss


$label-color: rgb(0, 0, 0);
$amount-color: black;

.balance-display {
  text-align: center;
  
  .balance{
    display: flex;
  }
  .balance-label {
    color: $label-color;
    font-size: 14px;
    margin: 0;
  }

  .balance-amount {
    color: $amount-color;
    font-size: 20px;
    margin: 0;
  }

  button {
    
    
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    
    

   
  }
}
