.Form-all{
    display: flex;
    justify-content: center;
    // overflow: hidden;
}
.submit{
    display: flex;
    justify-content: center;
}
//  "userid": 0,
// "username": "string",
// "fullname": "string",
// "address": "string",
// "birthday": "2024-06-02T17:56:13.212Z",
// "email": "string",
// "phone": "string",