:where(.css-dev-only-do-not-override-m4timi).ant-card .ant-card-body {
  padding: 24px;
  border-radius: 0 0 8px 8px;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-98ntnt).ant-menu-light>.ant-menu .ant-menu-item-selected{
  color: black
}