.createBidRequest {
  .form-creat-bid {
    // height: 1000px;

    color: rebeccapurple;
  }
}

.ant-upload-list-item-container {
  display: none !important;
}
.Request-Sell-History {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  font-size: 16px;
  color: #957461;
  font-weight: bold;
}
.AuctionRules {
  font-size: 14px;
  color: #79a0e7;
  margin: 10px;
}
/* AuctionRules.css */

.container {
  font-family: "Georgia", serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fffaf0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;

  h1 {
    font-size: 28px;
    color: #4b3832;
    margin-bottom: 25px;
    font-weight: bold;
  }

  h2 {
    font-size: 22px;
    color: #6b4f4b;
    margin-bottom: 15px;
    border-bottom: 2px solid #6b4f4b;
    padding-bottom: 5px;
  }

  p {
    font-size: 18px;
    color: #4b3832;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  ul li {
    font-size: 18px;
    color: #4b3832;
    line-height: 1.6;
    margin-bottom: 10px;
  }
}
